<Page xmlns="http://schemas.nativescript.org/tns.xsd"></Page>
<StackLayout class="stack1">
  <DockLayout class="dock1">
    <Label text="Red :" dock="left" color="Red"></Label>
    <Label [text]="game.xscore" dock="left" color="Red" ></Label>
    <Label text="Blue :" dock="left" color="blue" ></Label>
    <Label [text]="game.yscore" dock="left" color="blue"></Label>
  </DockLayout>
  <!-- Board looping-->
<StackLayout *ngFor="let i of this.game.list"  class="stack2"> 
  <GridLayout *ngFor="let j of this.game.list"   class="grid1">
      <Label [row]="i" [col]="j"  [text]="" bordercolor="black" borderwidth="2" [backgroundcolor]="game.colour[game.b1[i][j]]" (tap)="ontap(i,j)"></Label>
    </GridLayout>
</StackLayout>
 
<DockLayout class="dock2">
  <button text="Play again" dock="left" (tap)="playagain()" ></button>
  <button text="exit" dock="right" width="150" (tap)="goback()"></button>
</DockLayout>
</StackLayout>

    