/**AbsoluteLayout{
    background-image: url("../images/o.jpg");
    background-color: aliceblue;
}*/
/*StackLayout{
    background-image: url("../images/o.png");
}*/
.stack1{
    vertical-align: center;
}
.stack2{
    orientation:horizontal;
    horizontal-align:center;
}
.dock1{
    horizontal-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.board{
    padding-right: 50px;
}
.grid1{
    width:50;
    height:50;
}
.dock2{
    horizontal-align:center;
}
.label1{
   
    font-size: larger;
    border-width: 2;
    border-color: black;
}